<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-container">
    <div class="hero-section">
      <h1>Jobs</h1>
      <p>Come join a Motivated and Productive Team</p>
    </div>
    <canvas #particleCanvas></canvas>
  </div>
  <div class="ico"></div>
    <div class="service-container">
      <div class="service-box">
        <div class="icon-container">
          <img src="pixel.jpeg" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
      <div class="service-box">
        <div class="icon-container">
          <img src="app-icon.png" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
      <div class="service-box">
        <div class="icon-container">
          <img src="app-icon.png" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service-box">
        <div class="icon-container">
          <img src="pixel.jpeg" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
      <div class="service-box">
        <div class="icon-container">
          <img src="pixel.jpeg" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
      <div class="service-box">
        <div class="icon-container">
          <img src="pixel.jpeg" alt="App Icon" />
        </div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
      </div>
    </div>
  <h1 class="underline-first custom-text">Jobs</h1>
    <div class="news-container">
      <div class="news-list">
        <ul>
          <li *ngFor="let news of newsList" (click)="updateNews(news)">
            {{ news.title }}
          </li>
        </ul>
      </div>
      <div class="news-content">
        <h2>{{ paper.title }}</h2>
        <img [src]="paper.image" alt="{{ paper.title }}">
        <p>{{ paper.content }}</p>
      </div>
    </div>
<app-contact></app-contact>
</body>
</html>