.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.text-section {
  flex: 1;
  max-width: 50%;
}

.ekm {
  color: #000;
}

.soft {
  color: #3750f2;
}

.image-section {
  flex: 1;
  max-width: 60%;
}

svg {
  width: 100%;
  height: auto;
}
.contain{
  border:1px solid white;
  border-bottom-width: 63px;
}