<div class="image">
  <div class="ed-element ed-html curved-seperator curved-seperator-top" id="ed-603026511"><svg width="500" height="200" viewBox="0 0 500 200" preserveAspectRatio="none" class="svg">
    <path fill="white" d="M0,0 L0,200 Q250,-100 500,200 L500,0 Z"></path>  
  </svg>
  </div>
  <h1>Showreel</h1>
  <div class="carousel-wrapper">
      <button class="arrow left" (click)="prev()">&#10094;</button>
      <div class="carousel"
      (mousedown)="onDragStart($event)" 
    (mousemove)="onDragMove($event)" 
    (mouseup)="onDragEnd($event)" 
    (mouseleave)="onDragEnd($event)"
    (touchstart)="onDragStart($event)"
    (touchmove)="onDragMove($event)"
    (touchend)="onDragEnd($event)">>
        <div
          class="card"
          *ngFor="let card of visibleCards; let i = index"
          [ngStyle]="getCardStyle(i)"
          [class.center]="i === centerRelativeIndex"
        >
        <svg width="100%" height="100%" viewBox=" 0 0 500 299.05" preserveAspectRatio="xMidYMid slice">
          <image [attr.href]="card.image" alt="Image" x="0" y="0" height="100%" width="100%" preserveAspectRatio="xMidYMid slice"/>
          <path fill="white" d="
          
          M 500,299 
          L 0,300 
          L 0,280 
          C 50 300, 100 315, 230 270 
          C 360 220, 460 220, 500 299 
          Z
          
          "></path>
        </svg>
          <h4>{{ card.title }}</h4>
          <p>{{ card.description }}</p>
          <button class="click" routerLink="/portfolio">Find out more!</button>
        </div>
      </div>
      <button class="arrow right" (click)="next()">&#10095;</button>
  </div>
    <div class="ed-element ed-html curved-seperator" id="ed-603026337"><svg width="500" height="200" viewBox="0 0 500 200" preserveAspectRatio="none" class="svg">
      <path fill="white" d="M0,200 L0,0 Q250,300 500,0 L500,200 Z"></path>
    </svg></div></div>
    <router-outlet></router-outlet>
