<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-container">
    <div class="hero-section">
      <h1>ekmsoft.in</h1>
      <p>Simply Fast Software</p>
    </div>
    <canvas #particleCanvas></canvas>
  </div>
  <div class="ico"></div>
  <div class="service-container">
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
  </div>
  <div class="service-container">
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
    <div class="service-box">
      <div class="icon-container">
        <img src="pixel.jpeg" alt="App Icon" />
      </div>
      <h3>App Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dolorem!</p>
    </div>
  </div>
    <section id="about">
    <app-about></app-about>
    </section>
    <section id="reel">
      <app-reel></app-reel>
      </section>
    <section id="news">
      <app-news id="news"></app-news>
      </section>
      <section id="contact">
        <app-contact id="contact"></app-contact>
        </section>