<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="carousel-wrapper">
    <button class="arrow left" (click)="prev()">&#x7c;</button>
    
    <div class="carousel"
    (mousedown)="onDragStart($event)" 
    (mousemove)="onDragMove($event)" 
    (mouseup)="onDragEnd($event)" 
    (mouseleave)="onDragEnd($event)"
    (touchstart)="onDragStart($event)"
    (touchmove)="onDragMove($event)"
    (touchend)="onDragEnd($event)">>
      <div
        class="card"
        *ngFor="let card of visibleCards; let i = index"
        [ngStyle]="getCardStyle(i)"
        [class.center]="i === centerRelativeIndex"
      >
        <img [src]="card.image" alt="..." />
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <button>Find out more!</button>
      </div>
    </div>
  
    <button class="arrow right" (click)="next()">&#10095;</button>
  </div>
</body>
</html>